<%- include('../partials/header'); %>

  <div class="post postContainer border-4 container mt-4 pt-2 pb-2">
    <div class="flex-row d-flex justify-content-between">
    <div class="d-inline-block">
      <img src="<%= postUser.avatar ? postUser.avatar : 'https://i.imgur.com/JqEj7pe.png' %>" class="post rounded-circle" alt="" style="height:50px">
    </div>

    <div class="d-inline-block">
      <label><%= postUser.name %></label>
    </div>

    <div class="d-inline-block d-flex">
      <label><%= post.createdAt.toLocaleTimeString([], {year: 'numeric', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit'}); %></label>
    </div>

      <div>
        <% if(currentUserId && post.user.toString() === currentUserId.toString() ) { %>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      ...
                  </button>
            <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" id="edit-dropdown-button" href="/posts/<%= post._id %>/edit">Edit</a></li>
              <form class="dropdown-item" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Post</button>
              </form>
            </ul>
          </div>
        <%};%>
      </div>
    </div>

      <div class="mt-2">
        <h3 class="title"><%=post.title%></h3>
      </div>



    <div class="row m-2 content-background post">
        <p class="post-contents"><%= post.contents %></p>
    </div>

    <div class="d-flex mb-2 flex-row justify-content-between">
      
    <p><%= post.comments.length ? (post.comments.length > 1 ? `See ${post.comments.length} comments...` : 'See 1 comment...') : "Be the first to comment"%></p>


    <form action="/posts/all/<%=post._id%>/likes" method="POST"><button type="submit" name="like"><%= post.likes.length ? `${post.likes.length} interested` : "I'm interested"%></button></form>


  </div>

  <%post.comments.forEach(function(comment){ %>
    <% commentUser = usersFromComments[comment.user.toString()]; %>
    <div class="comment-seperator">
    <!-- FIRST COMMENT ROW -->
    
    <div class="d-flex flex-row justify-content-between mt-4">

      <div class="d-inline-block">
        <img src="<%= commentUser.avatar ? commentUser.avatar : 'https://i.imgur.com/JqEj7pe.png' %>" class="post rounded-circle" alt="" style="height:50px">
      </div>
  
      <div class="d-inline-block">
        <label><%= commentUser.name %></label>
      </div>

      <div class="d-inline-block">
        <label>
          <%= comment.createdAt.toLocaleTimeString([], {year: 'numeric', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit'}); %></label>
        </label>
      </div>

      <% if (currentUserId && commentUser._id.toString() === currentUserId.toString()) { %>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      ...
                  </button>
            <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" id="edit-dropdown-button" href="/posts/<%= post._id %>/comments/<%= comment._id %>/edit">Edit Comment</a></li>
              <form class="dropdown-item" action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                <input style="display: none" name="commentId" value="<%= comment._id %>">
                <button type="submit" style="color:white">Delete Comment</button>
              </form>
            </ul>
          </div>
          <%};%>
    </div>
    
    <!-- SECOND COMMENT ROW -->

    <div class="row m-2 post content-background">
  
      <div class="d-inline-block d-flex p-0">
        <% if (editCommentId && editCommentId === comment._id.toString() && commentUser._id.toString() === currentUserId.toString()) { %>
          <div>
            <form action="/posts/<%= post._id%>/comments/<%=comment._id.toString() %>?_method=PUT" method="POST">
              <textarea class="post-contents edit-comment input-field" name="editedComment"><%= comment.contents %></textarea><br>
        </div>
        <% } else { %>
        <p class="comment-contents"><%= comment.contents %>
        </p>
        <% }; %>
      </div>
      </div>


    <!-- THIRD COMMENT ROW -->

    <div class="d-flex mt-2 mb-4 flex-row justify-content-between">
      <div>
        <% if (editCommentId && editCommentId === comment._id.toString() && commentUser._id.toString() === currentUserId.toString()) { %>
            <button type="submit">Update Comment</button>
          </form>
        <% }; %>
      </div>
      <div class="mr-2">
        <form action="/posts/<%= post._id%>/<%=comment._id %>/likes" method="POST"><button type="submit" name="like"><%= comment.likes.length ? `${comment.likes.length} likes` : 'like' %></button></form>
        </form>
      </div>
    </div>
  </div>
    <% }); %>
  

    <!-- END EXISTING COMMENTS -->

    <% if ( currentUserId){ %>
      <div class="comment-seperator">
    <div class="d-flex flex-row mt-4 justify-content-center">
      <form method="POST" action="/posts/<%= post._id %>/comments/">
          <textarea class="post-contents post comment-text-area input-field" name="contents" placeholder="Add a comment..."></textarea><br>
          <button type="submit">Add comment</button>
      </form>
    </div>
  </div>
    <% }; %>
  </div>

  </div>


  
<%- include('../partials/footer'); %>