<%- include('../partials/header'); %>
<%posts.forEach(function(post){%>
  <article><%= post %></article>
  <a href="/posts/<%=post._id%>">View post </a>
  <a href="/posts/<%=post._id%>/edit">Edit Post</a>
  <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
    <button type="submit">X</button>
  </form>
<%});%>
<%- include('../partials/footer'); %>