<%- include('../partials/header'); %>

<%posts.forEach(function(post){%>
  <%const user = usersFromPosts[post.user.toString()]%>
  <label><%=user.name%></label>
  <img src="<%=user.avatar%>" alt="" style="height:50px">
  <label><%=post.createdAt.toLocaleString()%></label>
  <article><%= post %></article>
  <a href="/posts/<%=post._id%>">View post </a>
  <% if(currentUserId && post.user.toString() === currentUserId.toString() ) { %>
  <a href="/posts/<%=post._id%>/edit">Edit Post</a>
  <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Post</button>
  </form>
  <% }; %>
  <% if ( currentUserId){ %>
  <form action="/posts/all/<%=post._id%>/likes" method="POST"><button type="submit" name="like">like</button></form>
  <% }; %>
  <h3>Likes:<%= post.likes.length || 0; %> Comments:<%= post.comments.length || 0; %> </h3>
<%});%>
<%- include('../partials/footer'); %>