<%- include('../partials/header'); %>

<%posts.forEach(function(post){%>
  <%const user = usersFromPosts[post.user.toString()]%>
  <div class="container mt-4">
    <div class="row">
      <label><%= user.name %></label>
      <img src="<%=user.avatar%>" alt="" style="height:50px">
      <label><%= post.createdAt.toLocaleString() %></label>
      <h3><%=post.title%></h3>
      <% if(currentUserId && post.user.toString() === currentUserId.toString() ) { %>
      <<div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown button
              </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <%};%>
    </div>
    <div class="row">
      <article><%= post.contents %></article>
    </div>

    <a href="/posts/<%=post._id%>">View post </a>
    <% if(currentUserId && post.user.toString() === currentUserId.toString() ) { %>

    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete Post</button>
    </form>
    <% }; %>
    
    <% if ( currentUserId){ %>
    <form action="/posts/all/<%=post._id%>/likes" method="POST"><button type="submit" name="like">like</button></form>
    <% }; %>
    <h3>Likes:<%= post.likes.length || 0; %> Comments:<%= post.comments.length || 0; %> </h3>
  </div>
  <%});%>
<%- include('../partials/footer'); %>