<%- include('../partials/header'); %>
<%posts.forEach(function(post){%>
  
  <label><%=currentUser.name%></label>
  <img src="<%=currentUser.avatar%>" alt="" style="height:50px">
  <label><%=post.createdAt.toLocaleString()%></label>
  <article><%= post %></article>
  <a href="/posts/<%=post._id%>">View post </a>
  <a href="/posts/<%=post._id%>/edit">Edit Post</a>
  <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Post</button>
  </form>
  <form action="/posts/all/<%=post._id%>/likes" method="POST">
    <button type="submit" class="like" name="like">
      <img src="https://tse4.mm.bing.net/th?id=OIP.Dhn2wwuix7X9iuz5BbSeOgAAAA&pid=Api" alt="" style="height: 25px">
    </button></form>
  <label>Likes:<%= post.likes.length || 0; %> Comments:<%= post.comments.length || 0; %> </label><br><br>
<%});%>
<%- include('../partials/footer'); %>