<%- include('../partials/header'); %>

    <article>
    <div>Title: </div>
    <div>
      <%= post.title %>
    </div>
    <div> contents: </div>
    <div>
      <%= post.contents %>
    </div>
    <% if(currentUser && post.user.toString() === currentUser.toString() ) { %>
      <a href="/posts/<%=post._id%>/edit">Edit Post</a>
      <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Post</button>
      </form>
      <% }; %>
    <% if(currentUser){ %> 
    <form action="/posts/<%=post._id%>/likes" method="POST"><button type="submit" name="like">like</button></form>
    <% }; %>
    <h3><%= post.likes.length || 0; %></h3>
    <%post.comments.forEach(function(comment){ %>
    <section>
      <div>contents</div>
      <% if (editCommentId && comment._id.toString() === editCommentId) { %>
        <form action="/posts/<%= post._id%>/<%=comment._id.toString() %>?_method=PUT" method="POST">
          <textarea name="editedComment"><%= comment.contents %></textarea>
          <button type="submit">Edit Comment</button>
        </form>
      <% } else { %>
      <div> <%= comment.contents %> </div>
      <a href="/posts/<%= post._id %>/<%= comment._id %>">Edit Comment</a>
      <% }; %>
      <form action="/posts/<%= post._id %>/comments?_method=DELETE" method="POST">
        <input style="display: none" name="commentId" value="<%= comment._id %>">
        <button type="submit">X</button>
      </form>
      <% if(currentUser){ %> 
      <form action="/posts/<%= post._id%>/<%=comment._id %>/likes" method="POST"><button type="submit" name="like">like</button></form>
      <% }; %>
      <h3><%= comment.likes.length || 0; %></h3>
    </form>
     </section>
    <% }); %>
    <% if ( currentUser){ %>
    <form method="POST" action="/posts/<%= post._id %>/comments/">
        <div>add comment</div>
        <textarea name="contents"></textarea>
        <button type="submit"> Add comment</button>
    </form>
    <% }; %>
    </article>
<%- include('../partials/footer'); %>