<%- include('../partials/header'); %>

    <article>
    <div>Title: </div>
    <div>
      <%= post.title %>
    </div>
    <div> contents: </div>
    <div>
      <%= post.contents %>
    </div>
    <%post.comments.forEach(function(comment){ %>
    <section>
      <div>contents</div>
      <% if (editCommentId && comment._id.toString() === editCommentId) { %>
        <form action="/posts/<%= post._id%>/<%=comment._id.toString() %>?_method=PUT" method="POST">
          <textarea name="editedComment"><%= comment.contents %></textarea>
          <button type="submit">Edit Comment</button>
        </form>
      <% } else { %>
      <div> <%= comment.contents %> </div>
      <a href="/posts/<%= post._id %>/<%= comment._id %>">Edit Comment</a>
      <% }; %>
      <form action="/posts/<%= post._id %>/comments?_method=DELETE" method="POST">
        <input style="display: none" name="commentId" value="<%= comment._id %>">
        <button type="submit">X</button>
      </form>
      </form>
       
    </section>
    <% }); %>
    <form method="POST" action="/posts/<%= post._id %>/comments/">
        <div>add comment</div>
        <textarea name="contents"></textarea>
        <button type="submit"> Add comment</button>
    </form>

    </article>
<%- include('../partials/footer'); %>