<%- include('../partials/header'); %>

<%posts.forEach(function(post){%>
  <%const user = usersFromPosts[post.user.toString()]%>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8 ml-auto post d-flex align-items-center">
        <label><%= user.name %></label>
        <img src="<%=user.avatar%>" alt="" style="height:50px">
        <label><%= post.createdAt.toLocaleString() %></label>
        <h3><%=post.title%></h3>
        <% if(currentUserId && post.user.toString() === currentUserId.toString() ) { %>
          <div class=“dropdown d-inline-block”>
            <button class=“btn btn-secondary dropdown-toggle” type=“button” id=“dropdownMenuButton1" data-bs-toggle=“dropdown” aria-expanded=“false”>...</button>
            <ul class=“dropdown-menu” aria-labelledby=“dropdownMenuButton1">
              <li><a class=“dropdown-item” href=“/posts/<%= post._id %>/edit”>Edit</a></li>
              <form class=“dropdown-item” action=“/posts/<%= post._id %>?_method=DELETE” method=“POST”>
                <button type=“submit”>Delete Post</button>
              </form>
            </ul>
          </div>
          <%};%>
      </div>
    </div>
      
    <div class="row">
      <div class="col-md-8 ml-auto post">
        <article><%= post.contents %></article>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 ml-auto post">
        <a href="/posts/<%=post._id%>">View post </a>
      </div>
    </div>
    <% if ( currentUserId){ %>
      <div class="row">
        <div class="col-md-8 ml-auto post">
          <form action="/posts/all/<%=post._id%>/likes" method="POST"><button type="submit" name="like">like</button></form>
        </div>
      </div> 
    <% }; %> 
    <div class="row">
      <div class="col-md-8 ml-auto post">
        <h3>Likes:<%= post.likes.length || 0; %> Comments:<%= post.comments.length || 0; %> </h3>
      </div>
    </div>
  </div>
  <%});%>
<%- include('../partials/footer'); %>